Flask==1.0.2
Flask-Cors==3.0.4
pip==21.1
awsebcli==3.14.10
blessed==1.15.0
botocore==1.12.86
cached-property==1.5.1
cement==2.8.2
certifi==2018.11.29
chardet==3.0.4
colorama==0.3.9
docker==3.7.0
docker-compose==1.23.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
idna==2.7
jmespath==0.9.3
jsonschema==2.6.0
pathspec==0.5.5
python-dateutil==2.7.5
PyYAML==3.13
requests==2.20.1
semantic-version==2.5.0
six==1.11.0
termcolor==1.1.0
texttable==0.9.1
urllib3==1.24.1
wcwidth==0.1.7
websocket-client==0.54.0
Werkzeug==0.12.1
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.1.0
matplotlib==3.0.2
#llvmlite==0.23.1
gunicorn==19.9.0
Keras==2.2.2
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
numpy==1.15.4
numpydoc==0.8.0
numpy==1.15.4
numpydoc==0.8.0
opencv-python==4.0.0.21
tensorboard==1.12.2
tensorflow==1.12.0
#tensorflow-gpu==1.12.0
Pillow==5.3.0
